<div class="container">
    <div class="row">
        <div class="col-md-4">
            <div class="card-deck">
                <div class="card">
                    <div class="p-4">
                        <div class="text-center">
                            <%= gravatar_for(current_user) %>
                        </div>
                        <div class="card-body text-center border-bottom">
                            <h2 class="card-title"><%= current_user.name %></h2>
                            <p class="card-text"><%= current_user.email %></p>
                        </div>

                        <div class="mt-3">
                            <div class="row">
                                <h5 class="col-md-4 text-center">
                                    <%= link_to current_user.microposts.count, @user %>
                                </h5>
                                <h5 class="col-md-4 text-center">
                                    <%= current_user.following.count %>
                                </h5>
                                <h5 class="col-md-4 text-center">
                                    <%= current_user.followers.count %>
                                </h5>
                            </div>
                            <div class="row">
                                <small class="col-md-4 text-center">microposts</small>
                                <small class="col-md-4 text-center">following</small>
                                <small class="col-md-4 text-center">followers</small>
                            </div>
                        </div>
                    </div>

                    <div class="card-footer">
                        <%=  form_for(@micropost) do |f| %>
                            <%= render "shared/error_messages", object: f.object %>
                            <div class="form-group">
                                <%= f.text_area :content, class: "form-control", placeholder:"Share your thought…" %>
                            </div>
                            <div class="mt-3">
                                <%= f.submit "Post", class: "btn btn-primary btn-block" %>
                            </div>
                        <% end %>
                        
                        <%# <textarea class="form-control mb-3" rows="2" placeholder="Share your thought…"></textarea>
                        <button type="submit" class="btn btn-primary btn-block">Post</button> %>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-8">
            <div class="card">
                <div class="card-body">
                    <h2>Feed</h2>
                    <hr>

                    <% if @microposts.any? %>
                        <ul class="list-unstyled">
                            <%= render @microposts %>
                            <%# 違う使い方 %>
                        </ul>
                    <% else %>
                        <div class="text-muted">
                            <p>Nothing to show</p>
                        </div>
                    <% end %>
                </div>

                <div class="card-footer paginate text-center">
                    <%= will_paginate @microposts if @microposts.any? %>
                </div>
            </div>
        </div>
    </div>
</div>